<!DOCTYPE html>
<html>

<!-- control block with an if statement -->
<!-- similar to variable blocks but begin with % and end with %. used to declare functions,loops and if statements -->

<head>
  <meta charset="utf-8">
  {% if title %}
  <title {{title}}></title>
  {% endif %}
</head>

{% import 'macros.html' as macro %}

<body>
  <!-- popular movies section -->
  <h3>Popular movies</h3>
  <ul>
      <li>{{ macro.displayMovieList(popular) }}</li>
  </ul>
  <!-- Upcoming movies -->
  <h3>Upcoming Movies</h3>
  <ul>
      <li>{{macro.displayMovieList(upcoming)}}</li>
  </ul>
  <!-- Now showing Movie -->
  <h3>Now Showing Movie</h3>
  <ul>
      <li>{{macro.displayMovieList(now_showing)}}</li>
  </ul>
</body>
</html>