<!DOCTYPE html>
<html>

<!-- control block with an if statement -->
<!-- similar to variable blocks but begin with % and end with %. used to declare functions,loops and if statements -->

<head>
  <meta charset="utf-8">
  {% if title %}
  <title {{title}}></title>
  {% endif %}
</head>
<body>
  <!-- popular movies section -->
  <h3>Popular movies</h3>
  <ul>
    {% for popular_movie in popular %}
      <li>{{ popular_movie.title }}</li>
    {% endfor %}
  </ul>
  <!-- Upcoming movies -->
  <h3>Upcoming Movies</h3>
  <ul>
    {%for upcoming_movie in upcoming%}
      <li>{{upcoming_movie.title}}</li>
    {%endfor%}
  </ul>
  <!-- Now showing Movie -->
  <h3>Now Showing Movie</h3>
  <ul>
    {%for now_showing_movie in now_showing%}
      <li>{{now_showing_movie.title}}</li>
    {%endfor%}
  </ul>
</body>
</html>